
.filter.card-container {
    padding: 10px;
    font-size: 13px;
    height: auto; 
    transition: background-color 0.3s, transform 0.3s;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #222;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative; 
    z-index: 2; 
  }
  
  .filter.card-container .card-body {
    padding: 10px;
    font-size: 13px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
  }
  
 
  .filter-option {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .filter-option:last-child {
    margin-right: 0; 
  }
  

  .filter-option:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  @media (max-width: 991px) {
    .filter.card-container {
      margin-bottom: 20px;
      min-height: 160px;
    }
  }
  
